@media screen and (max-width:1024px){
    html{
        font-size: 42.66px!important;
    }
}
@media screen and (min-width:1920px){
    html{
        font-size: 80px!important;
    }
}
/*清除元素默认的内外边距  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*让所有斜体 不倾斜*/
  em,
  i {
    font-style: normal;
  }
  /*去掉列表前面的小点*/
  li {
    list-style: none;
  }
  /*图片没有边框   去掉图片底侧的空白缝隙*/
  img {
    border: 0; /*ie6*/
    vertical-align: middle;
  }
  /*让button 按钮 变成小手*/
  button {
    cursor: pointer;
  }
  /*取消链接的下划线*/
  a {
    color: #666;
    text-decoration: none;
  }
  
  a:hover {
    color: #e33333;
  }
  h4{
    font-weight: normal;
  }
  h3{
    font-size: .25rem;
    color: white;
  }

  body {
      /* background: url(../images/bg.jpg) no-repeat 0 0/cover; */
  }
  .viewport{
      display: flex;
      min-width: 1024px;
      max-width: 1920px;
      min-height: 780px;
      margin: 0 auto;
      padding: 0rem .25rem 0;
  }
  .viewport .column{
      flex: 3;
  }
  .viewport .column:nth-child(2){
      flex: 4;
  }
  /* 公共面板样式 */
  .viewport .panel{
    position: relative;
    border: 15px solid transparent;
    border-image-source: url(../images/border.png);
    border-image-slice:51 38 20 132 ;
    border-width: .6375rem .475rem .25rem 1.65rem;
    margin-bottom: .25rem;
    transition: all 0.3s;
  }
  .viewport .panel:hover{
    transform: scale(1.1);
  }
  .inner {
    position: absolute;
    /* 绝对定位没有设置宽高，同时设置left和right top和bottom会拉升盒子 */
    top: -.6375rem;
    left:-1.65rem;
    right: -0.475rem;
    bottom: -0.25rem;
    padding: .3rem .45rem;
  }
  .point {
    height: 4rem;
  }

  .point .press {
    width: 100%;
    height: 100%;
    margin-left: -0.125rem;
  }
  .point .data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2.1rem;
    padding: 0.45rem 0.375rem;
    box-sizing: border-box;
    background-image: url(../images/rect.png);
    background-size: cover;
  }
  .point h4 {
    margin-bottom: 0.15rem;
    font-size: 0.35rem;
    color: #fff;
  }
  .point span {
    display: block;
    color: #4c9bfd;
    font-size: 0.2rem;
  }
  /* 气体含量分析 */
  .point .gas{
    width: 100%;
    height: 100%;
    margin-left: -0.125rem;
  }
  .point .flow{
    width: 100%;
    height: 100%;
    margin-left: -0.125rem;
  }